html{
    scroll-behavior: smooth;
}

/* Quelques paramètres du fichier*/

*{
    box-sizing: border-box;
    font-family: "Zalando Sans Expanded", sans-serif;
  	font-optical-sizing: auto;
	font-size: 17px;
  	font-style: normal;
}



/* Mise en page navbare*/

.navbare{
    margin-top: 3vh;
    width: 92%;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 4vw;
    padding: 20px 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;

}

.navbare .logo_index{
    width: 80px;
}

.navbare ul li{
    list-style: none;
    display: inline-block;
    margin-left: 50px;
}

.navbare ul li a{
    text-decoration: none;
    font-weight: 500;
    padding:0 15px;
    color: #F22248;
    font-size: 17px;
    transition: color 0.3s;
}
.navbare ul li a:hover{
    color: #F2EBDC;
}

.scroll-active{
	border-radius: 4vh;
	background-color: rgba(255, 255, 255, 0.089);
	backdrop-filter: blur(5px);
    border-top: 1px solid rgba(240, 255, 255, 0.184);
    border-left: 1px solid rgba(240, 255, 255, 0.184);
    box-shadow: 3px, 3px, 3px rgba(0,0,0,0.089);
}

.scroll-active ul li a{
	color: #F22248;
}



/* Mise en page body*/ 

body{
    background-image: url("voiture_2026_vue_face.png");
	background-repeat: no-repeat;
	background-size:cover;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 300px;
    flex-direction: column;
}

.contenu{
    flex-grow: 1;
}

.gros_titres{
    display: flex;
    align-items: stretch;
    margin-top: 370px;

    .gros_titre_1{
        position: relative;
        justify-content: left;
        margin-left: 20px;
	    font-size:40px;
	    color: #F22248;
	    font-family: "yerk", sans-serif;
	    font-weight: 400;
	    font-style: italic;
    }

    .gros_titre_2{
        position: relative;
        justify-content: right;
        margin-left: 42vw;
	    font-size:40px;
	    color: #F22248;
	    font-family: "yerk", sans-serif;
	    font-weight: 400;
	    font-style: italic;
    }
}


.sous_titre{
    position: relative;
    margin-left: 20px;
    margin-top: -20px;
	color: #F22248;
	font-size: 27px;
	font-style: normal;
    font-weight: 400;
}

.intro{
    margin-top: 400px;
    margin-left: 36vw;
    font-weight: 600;
    font-size: 50px;
    text-align: left;
    width: 60%;
}

.intro_sous_titre{
    margin-top: -40px;
    text-align: left;
    width: 60%;
    font-size: 27px;
    margin-left: 36vw;
    font-weight: 400;
}

.img_hautes{
    margin-top: 50px;
    display: flex;
    align-items: stretch;
    justify-content: center;

    .img_h1{
        overflow: hidden;
        border-radius: 1.5vw;
        margin-right: 1.5vw;
    }

    .img_h1 .img1{
        width: 45vw;
        object-fit: cover;
        transition: transform 0.5s;
    }

    .img1:hover{
        transform: scale(1.03);
    }

    .img_h2{
        overflow: hidden;
        border-radius: 1.5vw;
        margin-left: 1.5vw;
    }

    .img_h2 .img2{
        width: 45vw;
        object-fit: cover;
        transition: transform 0.5s;
    }

    .img2:hover{
        transform: scale(1.03);
    }
}

.img_basse{
    margin-top: 3vw;
    margin-left: 2.5vw;
    width: 93vw;
    border-radius: 1.6vw;
    overflow: hidden;
}
.img_basse .img3{
    object-fit: cover;
    transition: transform 0.5s;
    width: 100%;
}

.img_basse .img3:hover{
    transform: scale(1.03);
}



/* Mise en page footer*/

.footer{
    flex-shrink: 0;
    margin-top: 3vw;
    border-top: 1px solid rgba(69, 69, 69, 0.271);
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: flex-start;
    font-size: 5px;
    padding: 30px 0 100px;
}

.e_footer{
    font-family: "Inter", sans-serif;
  	font-optical-sizing: auto;
    font-weight: 700;
  	font-style: normal;
    font-size: 14px;
    line-height: 18px;
}

.m_footer{
    font-family: "Inter", sans-serif;
  	font-optical-sizing: auto;
    font-weight: 900;
  	font-style: normal;
    font-size: 14px;
}

.tutos{
    font-family: "Inter", sans-serif;
  	font-optical-sizing: auto;
    font-weight: 700;
  	font-style: normal;
    text-decoration: none;
    font-size: 14px;
    color: #000;
    transition: color 0.3s;
}

.tutos:hover{
    color: #F2EBDC;
}

.bloc_présentation,
.bloc_sources{
    width: 22%;
    margin: 0 30px;
}
.bloc_adresses{
    width: 22%;
    margin: 13px 30px;

}

.nom_footer{
    margin-top: -135px;
    font-family: "Zalando Sans Expanded", sans-serif;
  	font-optical-sizing: auto;
    font-weight: 700;
  	font-style: normal;
    text-decoration: none;
    font-size: 268px;
    color: #D9D8D7;
}


